.curriculum {
    font-size: 14px;
  
    h1 {
      font-size: 22px;
      margin-bottom: 10px;
    }
  
    h2 {
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  
    section {
      margin-bottom: 15px;
  
      p {
        margin: 5px 0;
      }
  
      strong {
        display: block;
      }
    }
  }
  