.article {
    max-width: 440px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
    padding-top: 24px;

    .articleLink {
        text-decoration: none;
    }

    .preText {
        width: 100%;
        font-size: 14px;
        color: var(--grey);

        .preTextSmall {
            color: var(--light-grey);
        }
    }

    .content {
        display: flex;

        .title {
            flex: 1 1 auto;
            font-size: 16px;
            color: var(--title-color);
            font-weight: 600;
            text-decoration: none;
        }

        .image {
            flex: 1 1 auto;
            margin-left: 24px;
        }
    }

    .bottomPart {
        display: flex;
        width: 100%;
        padding-top: 16px;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 16px;
        border-bottom: 1px solid var(--grey);

        .tags {
            display: flex;
            gap: 8px;
            flex: 1 0 0;
            color: var(--white);
            font-size: 13px;

            .tag {
                background-color: var(--green);
                color: var(--white);
                border-radius: 18px;
                padding: 0px 8px 1px;
            }
        }

        .like {
            font-size: 25px;
            color: var(--title-color);
        }
    }
}