.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  z-index: 4;
  gap: 24px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
  background: #54679ce8;
  margin-top: 8px;


  @media (max-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));

  }
}